@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-top: 50px;*/
    z-index: 100;
}

.logo {
    position: absolute;
    font-size: 32px;
    font-weight: 700;
    height: 80px;
}

.navbarr {
    display: inline-block;
    margin-left: 20%;
}

    .navbarr a {
        position: relative;
        font-size: 18px;
        color: #000;
        font-weight: 500;
        text-decoration: none;
        margin-left: 40px;
    }

        .navbarr a::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 0;
            height: 2px;
            background: #0090da;
            transition: .1s;
        }

        .navbarr a:hover::before {
            width: 100%;
        }
