@model QuanLyKhachSan.Model.NhanVien

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account manager</title>
    <link rel="stylesheet" href="~/css/HoSo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
    <div id="container">
        <nav class="nav_account_manager">
            <h1 class="title-account-left" style="width: 100px;">Account Management</h1>
            <br>
            <ul style="color: #b8b8b8;">
                <li><i class="fa fa-user" aria-hidden="true"></i> EMPLOYEE ID</li>
                <li><i class="fa fa-user" aria-hidden="true"></i> PERSONAL INFORMATION</li>
                <li><i class="fa fa-user" aria-hidden="true"></i> HOTEL ACCOUNT SIGN-IN</li>
                <li><i class="fa fa-user" aria-hidden="true"></i> CONNECTED ACCOUNT</li>
                <li><i class="fa fa-user" aria-hidden="true"></i> LOGIN MANAGEMENT</li>
            </ul>
        </nav>
        <section id="full-information">
            <form method="post">
            <div id="Employee_Id">
                <div class="title_employeeId">
                    <div id="tieude_ac">
                        <h2 style="color: white;">Employee ID</h2>
                        <br>
                        <p class="tieu-de-id">Your Riot ID is used by players to find you through the social panel in
                            our
                            games.</p>
                    </div>
                </div>
                <div class="input_employeeId">
                    <label class="label_main">FULL NAME</label>
                    <input type="text" id="input_main" asp-for="TenNhanVien" readonly>

                    <label class="label_main lbl_manhanvien">EMPLOYEE ID</label>
                    <input type="text" id="ipt_manhanvien" readonly asp-for="MaNhanVien" name="manhanvien">
                </div>
            </div>
            <br>
            <br>
           
            <div id="Pesonal_Information">
                <div class="title_Personal_Information">
                    <div id="tieude_Personal_Information">
                        <h2 style="color: white;">Pesonal Information</h2>
                        <br>
                        <p class="tieu-de-id" style="color: #b8b8b8;">Your Riot ID is used by players to find you
                            through
                            the social panel in
                            our
                            games.</p>
                    </div>
                </div>
                <div class="input_Personal_Information">
                    <label for="" id="lbl_email">EMAIL</label>
                    <input type="email" name="" id="Email_ipt" asp-for="Email" name="email">
                    <label for="" id="lbl_country">COUNTRY/REGION</label>
                    <input type="email" name="" id="country_ipt" readonly value="VNM">
                    <label for="" id="lbl_ngaysinh">DATE OF BIRTH</label>
                    <input type="email" name="" id="ngaysinh_ipt" readonly asp-for="NgaySinh">
                    <button class="btn-save-infor" asp-action="LuuEmailMoi" asp-controller="HoSo" >SAVE AND VERIFY</button>

                </div>
            </div>
            <br>
            <br>
            <div id="Hotel_Account">
                <div class="title_Hotel_Account">
                    <div id="tieude_ac">
                        <h2 style="color: white;">Hotel Account Sign-In</h2>
                        <br>
                        <p class="tieu-de-id" style="color: white;">Your Riot ID is used by players to find you through
                            the social panel in
                            our
                            games.</p>
                    </div>
                </div>
                <div class="input_employeeId">
                    <label for="" id="lbl_username">USERNAME</label>
                    <input name="tendangnhap"  id="username_ipt" readonly asp-for="@Context.Request.Cookies["Username"]">
                    <h2 class="title-change-pwd">Change Password</h2>
                    <label for="" id="lbl_current-pwd">CURRENT PASSWORD</label>
                    <input  name="mkHienTai" id="current-pwd_ipt">
                    <label for="" id="lbl_new-pwd">NEW PASSWORD</label>
                    <input  name="mkMoi" id="new-pwd_ipt">
                    <label for="" id="lbl_confirm-new-pwd">CONFIRM NEW PASSWORD</label>
                    <input  name="xacThucMkMoi" id="confirm-new-pwd_ipt">
                        <button class="btn-save-account" asp-action="DoiMatKhauHoSo" asp-controller="HoSo">SAVE CHANGES</button>
                </div>
            </div>
            </form>
            <br>
            <br>
            <div id="Connected_Account">
                <div class="title_Connected_Account">
                    <div id="tieude_ac">
                        <h2 style="color: white;">Connected Account</h2>
                        <br>
                        <p class="tieu-de-id" style="color: white;">Your Riot ID is used by players to find you through
                            the social panel in
                            our
                            games.</p>
                    </div>
                </div>
                <div class="input_employeeId">
                    <p class="social-sign-in">SOCIAL SIGN-IN</p>
                    <button id="facebook"><i class="bi bi-facebook" id="icon_sign-in"></i> Facebook</button>
                    <button id="google"><i class="bi bi-google" id="icon_sign-in"></i> Google</button>
                    <button id="apple"><i class="bi bi-apple" id="icon_sign-in"></i> Apple</button>
                    <button id="xbox"><i class="bi bi-xbox" style="color: white;" id="icon_sign-in"></i> Xbox</button>

                </div>
            </div>
            <br>
            <br>
            <div id="Login_Management">
                <div class="title_employeeId">
                    <div id="tieude_ac">
                        <h2 style="color: white;">Login Management</h2>
                        <br>
                        <p class="tieu-de-id">Your Riot ID is used by players to find you through the social panel in
                            our
                            games.</p>
                    </div>
                </div>
                <div class="input_employeeId">

                    <button id="log-out" >LOG OUT EVERYWHERE</button>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="~/js/HoSo.js"></script>