@model QuanLyKhachSan.Model.TaiKhoan

@{
    Layout = null;
   
}


<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>LOGIN ROYAL HOTEL A$AP</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="~/css/CssLogin.css" />
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="" method="post">
                    <h2 style="font-family: poppins;">WELCOME</h2>
                    <img src="~/Image/Screenshot_4_preview_rev_1.png" alt="">
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="text" required asp-for="TenDangNhap" />
                        <label for="">Email / Số điện thoại</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required asp-for="MatKhau" />
                        <label for="">Mật khẩu</label>
                    </div>
                    <div class="forget">
                        <label for="" style="display: contents;"><input type="checkbox">Nhớ mật khẩu  <a style="margin-left: 75px;" asp-action="Index" asp-controller="QuenMatKhau">Quên mật khẩu?</a></label>

                    </div>
                    <button type="submit" asp-action="Index" asp-controller="Login">Đăng nhập</button>
                    <div class="register">
                        <p>Bạn chưa có tài khoản? <a asp-action="Index" asp-controller="DangKy">Đăng ký</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
<script>
    @if (TempData["Error"] != null)
    {
            <script src="~/lib/jquery/dist/jquery.min.js" ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            position: 'center',
            icon: 'error',
            title: '@TempData["Error"]',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
    }

</script>