
<div style="margin-top:50px;" class="container mt-4">
	<h2>Các phòng hiện tại</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="card text-white bg-danger mb-3">
				<div class="card-body">
					<h5 class="card-title">Phòng đang có khách</h5>
					<p class="card-text">0/0</p>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card text-white bg-success mb-3">
				<div class="card-body">
					<h5 class="card-title">Phòng đang trống</h5>
					<p class="card-text">0/0</p>
				</div>
			</div>
		</div>
	</div>


	<!-- Danh sách các phòng -->
</div>
