@model QuanLyKhachSan.Model.TaiKhoan

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Đăng Ký</title>
    <link rel="stylesheet" href="~/css/DangKy.css" />
    @* <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> *@
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

</head>
<body>
    <form method="post">
    <div class="form-box">
        <h2>ĐĂNG KÝ</h2>
      
        <div class="input-box">
            <i class='bx bxs-user'></i>
            <input type="text"  required asp-for="TenDangNhap">
            <label for="Username">Tên người dùng</label>
        </div>
        <div class="input-box">
            <i class='bx bxs-envelope'></i>
            <input type="text"  required asp-for="Email">
            <label for="Email">Email/Số điện thoại</label>
        </div>
        <div class="input-box">
            <i class='bx bxs-lock-alt'></i>
            <input type="password"  required asp-for="MatKhau">
            <label for="Password">Mật khẩu</label>
        </div>
        <div class="input-box">
            <i class='bx bxs-lock-alt'></i>
            <input type="password" name="cPassword" required>
            <label for="cPassword">Nhập lại mật khẩu</label>
        </div>
        <div class="button">
            <input class="btn" type="submit" value="Đăng ký" asp-action="Index" asp-controller="DangKy">
        </div>
        <div class="group">
            <span class="left"><a asp-action="Index" asp-controller="Login">Đăng nhập</a></span>
                <span><a href="#">Quên mật khẩu</a></span>
       
            </div>

        </div>
    </form>
</body>

</html>
<script>
    $(document).ready(function () {
        var notification = '@TempData["notification"]';
        if (notification !== '') {
            toastr.success(notification);
        }
    });

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
