@model QuanLyKhachSan.Model.Room

@{
    ViewData["Title"] = "Sửa Phòng";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<h2>Sửa Phòng</h2>
<form asp-action="SuaPhong" asp-controller="QuanLyPhong" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="MaPhong">Mã Phòng</label>
                <input asp-for="MaPhong" class="form-control" readonly />
                <span asp-validation-for="MaPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhuVuc">Khu Vực</label>
                <input asp-for="KhuVuc" class="form-control" type="text" maxlength="20"/>
                <span asp-validation-for="KhuVuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HangPhong">Hạng Phòng</label>
                <select asp-for="HangPhong" class="form-control">
                    <option value="Thường">Thường</option>
                    <option value="VIP">VIP</option>
                </select>
                <span asp-validation-for="HangPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaTheoGio">Giá Theo Giờ</label>
                <input asp-for="GiaTheoGio" class="form-control" type="number" min="0" />
                <span asp-validation-for="GiaTheoGio" class="text-danger"></span>
            </div>


        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="GiaTheoNgay">Giá Theo Ngày</label>
                <input asp-for="GiaTheoNgay" class="form-control" type="number" min="0" />
                <span asp-validation-for="GiaTheoNgay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaTheoQuaDem">Giá Qua Đêm</label>
                <input asp-for="GiaTheoQuaDem" class="form-control" type="number" min="0" />
                <span asp-validation-for="GiaTheoQuaDem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai">Trạng Thái</label>
                <input asp-for="TrangThai" class="form-control" readonly/>
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Sửa Phòng</button>
        </div>
    </div>
</form>